@import "../../css/_module-imports";
.u4m-keep-exploring {
    .intro_content {
        padding: 0;
    }
    .sliderItemWrap {
        .sliderItems {
            position: relative;

            .sliderItemin {
                background-position: 50%;
                background-size: cover;
                text-align: center;
                position: relative;
                width: 100%;
                padding: 0 6%;
                background-repeat: no-repeat;
                height: 100%;
                display: flex;
                align-items: center;
                & *:not(a[class], a[class] *) {
                    color: $white;
                }
                .itemslide_description {
                    padding: 16% 8%;
                    text-shadow: $textshadow2;
                }
                .itemslide_title {
                    line-height: 1.6em;
                    padding: 10px 0;
                    margin: 0;
                    font-weight: bold;
                }
                .itemslide_content {
                    font-size: 18px;
                    line-height: 1.8em;
                    font-weight: 400;
                    p {
                        margin: 0;
                    }
                }
                .itembutton_wrapper {
                    .hs-button {
                        text-shadow: none;
                        margin-top: 20px;
                    }
                }
            }
            .slick-track {
                display: flex;
                &:before {
                    display: none;
                }
                &:after {
                    display: none;
                }
                .slick-slide {
                    height: auto;
                }
            }

            .cmarrow {
                position: absolute;
                top: 50%;
                z-index: 100;
                font-size: 48px;
                color: $white;
                margin-top: -24px;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 0;
                cursor: pointer;
                &:before {
                    font-family: ETmodules !important;
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    -webkit-font-feature-settings: normal;
                    font-feature-settings: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-shadow: 0 0;
                    direction: ltr;
                }
                &.arrow-prev {
                    left: -22px;
                    &::before {
                        content: "4";
                    }
                }
                &.arrow-next {
                    right: -22px;
                    &::before {
                        content: "5";
                    }
                }
                span {
                    display: none;
                }
            }

            .slick-dots {
                bottom: 20px;
                left: 0;
                z-index: 10;
                li {
                    margin: 0;
                    width: 7px;
                    height: 7px;
                    margin-right: 10px;
                    &.slick-active {
                        button {
                            background-color: $white;
                            opacity: 1;
                        }
                    }
                    &:last-child {
                        margin: 0;
                    }
                    button {
                        display: inline-block;
                        background-color: $white50;
                        text-indent: -9999px;
                        border-radius: 7px;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        opacity: 0.5;
                        font-size: inherit;
                        line-height: inherit;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            .fadeInUp {
                -webkit-animation-duration: 0.7s;
                animation-duration: 0.7s;
                -webkit-animation-delay: 0.9s;
                animation-delay: 0.9s;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeBottom;
                animation-name: fadeBottom;
            }

            &.slick-slider {
                margin-bottom: 0;
            }
        }
        &:hover {
            .sliderItems {
                .cmarrow {
                    opacity: 1;
                    &.arrow-next {
                        right: 22px;
                        @include tabletvert {
                            right: 0;
                        }
                    }
                    &.arrow-prev {
                        left: 22px;
                        opacity: 1;
                        @include tabletvert {
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}
