@import "../../css/_module-imports";
.u4m-library-filter {
  .intro_content {
    padding: 0;
  }

  .main-listing {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @include b3;
    .site-search-wrap {
      width: 25%;
      @include tabletvert {
        width: 100%;
      }
      .wpv-custom-search-filter__label {
        font-weight: bold;
      }
      .search-col {
        .srchSection input {
          padding: 2px;
          color: $DarkLiver;
          border: 1px solid $mediumShade;
          margin-bottom: 25px;
        }
      }
      .tag-col {
        vertical-align: text-top;
        border: 1px solid $filter_card_border;
        padding: 10px;
        margin-bottom: 25px;
        .filter_label {
          font-weight: bold;
        }

        .filter_dropdown {
          input {
            margin: 3px;
            margin-right: 0;
          }

          label {
            padding: 5px 0;
            display: block;
          }
        }
      }
    }
    .listing-wrap {
      width: 75%;
      @include tabletvert {
        width: 100%;
        margin-top: 30rem;
      }
      .resourceCard {
        margin-bottom: 40px;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0 0 15px rgba($black, 0.2);
        padding: 30px 40px;
        width: 100%;

        .post-content {
          .restitle {
            padding-bottom: 15px;
            margin: 0;
            line-height: 1.33;
            a {
              color: $azure;
              font-weight: 700;
              letter-spacing: normal;
              text-decoration: none;
            }
          }
          .tagwrap {
            display: flex;
            flex-wrap: wrap;
            column-gap: 54px;
            row-gap: 25px;
            line-height: 1.7;
            text-transform: capitalize;
          }
          .cnt {
            padding-top: 15px;
            line-height: 1.7;
          }
        }
      }
      .pagi_wranation {
        padding: 0 15px;
        a {
          font-size: 0.9em;
          text-decoration: none !important;
          padding: 0.15em 0.45em 0.2em;
          line-height: 1.25;
          border: 1px solid $filter_border;
          margin: 2px;
          &:hover {
            background-color: $filter_bg;
          }
        }
      }
    }
    .site-search-wrap {
      .excludeInputWrap_col {
        padding: 0;
        border: none;
      }
    }
  }

  .hs-button.clearfilter_button {
    background: transparent;
    border: none;
    color: inherit;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;

    &:hover {
      color: $tealGreen;
      opacity: 0.9;
    }
  }

  //

  .content_box > div {
    font-weight: bold;
  }

  .content_box > div p {
    font-weight: normal;
  }

  .content_box > div p:has(a) > span:first-child {
    font-weight: bold;
  }

  .content_box > div i {
    font-weight: normal;
  }

  .content_box > div i ~ p {
    margin-top: 2px;
  }
}

.filter_post_page {
  .page-center {
    padding-left: 15px;
    padding-right: 15px;
  }

  .filter_post_date {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
  }

  .fl_right {
    text-align: right;
  }
}
