@import "../../css/module-imports";

.u4m-anchor_nav_outer {
  .anchor_nav_inner {
    .nav_item_col {
      width: 20%;
      text-align: center;

      @include tablet {
        width: 33.33%;
      }

      @include tabletMid {
        width: 50%;
      }

      @include tabletvert {
        width: 100%;
      }

      a {
        text-decoration: none;
      }

      span.img_icon {
        width: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .nav_title h4 {
        margin: 0;
        color: $azure;
        text-decoration: none;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .icon_image_wrap {
        font-size: 58px;
        line-height: 1;

        @include tabletvert {
          font-size: 68px;
        }

        & > span {
          display: block;
          margin-bottom: 10rem;
        }
        svg {
          width: 1em;
          height: 1em;
          fill: currentColor;
        }
      }
    }
  }
}
