<!--
 templateType: blog_post
 isAvailableForNewContent: true
 label: InternetofWater-u4m - Blog Post
-->
{% extends './base.html' %} {% block body %}

{% text "listing_summary" label="Listing Summary", export_to_template_context=True %}
{% rich_text "post_description" label="Post Description", export_to_template_context=True %}

<main id="main-content" class="body-container-wrapper u4mblogPost">
	<div class="page-center">
		<div class="postTopsec">
			{% if content.featured_image %}
			<div class="image_wrap" style="background-image:url({{ content.featured_image }})">
			</div>
			{% endif %}
			<div class="topConsec">
				<h1>{{ content.name }}</h1>
				{% if content.widgets.post_description.body.html %}
				<div class="post_description">
					{{ content.widgets.post_description.body.html}}
				</div>
				{% endif %}
				<div class="postMeta">
					{{ content.publish_date_local_time.strftime('%B %Y') }}
				</div>
			</div>
		</div>
		<div class="postBodysec">
			<div class="blog-post__body">
				{{ content.post_body }}
			</div>
			<!-- Blog Post Comments -->
			{% if group.allow_comments %}
			<div class="blog-comments">
				<h2 class="heading">Comments on this post</h2>
				{% module 'blog_comments'
            path='@hubspot/blog_comments',
            label="Blog comments"
          %}
			</div>
			{% endif %}
			<!-- End Blog Post Comments -->

		</div>
	</div>
	{% module "keep_exploring" path="./../modules/u4m-keep-exploring", label="Keep Exploring" %}
</main>
<!-- <style>
 .postTopsec {
	padding-top: 58px;
	padding-bottom: 60px;
 }

 .postTopsec .image_wrap {
	padding-bottom: 336px;
	position: relative;
 }

 .postTopsec .image_wrap img {
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: block;
 }

 .postTopsec .topConsec {
	margin-top: 40px;
	font-size: 14px;
	color: #666;
	line-height: 1.7em;
 }

 .postTopsec .topConsec h1 {
	color: #008078;
	letter-spacing: 3px;
	font-size: 35px;
	line-height: 1em;
	text-shadow: -0.03em 0.02em 0.08em rgba(0, 0, 0, 0.4);
 }

 .postTopsec .topConsec .post_description h1 span{
	font-size: 18pt;
 }


 .postTopsec .topConsec .post_description p {
	padding-bottom: 1em;
	margin: 0;
	text-shadow: none;
 }
 .blog-comments {
	margin-top: 30px;
 }
 .blog-comments .hs-button {
	margin-top: 20px;
 }

</style> -->
{% endblock body %} 

