@import "../../css/_module-imports";
$Silver: #bcbcbc;
.u4m-blog-listing {
  padding-top: 52px;
  padding-bottom: 26px;
  font-size: 14rem;
  line-height: 1.7em;
  .blog-post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include tabbreakpoint(768px, 1200px) {
      column-gap: 20px;
    }
    .blog-post-item {
      position: relative;
      margin-bottom: 40px;
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px;
      overflow: hidden;
      background-color: $white;
      box-shadow: $shadow3;
      width: 100%;

      @include tabletvertmin {
        width: 330px;
      }
      @include tabbreakpoint(768px, 1200px) {
        width: calc((100% - 40px) / 2);
      }
      .image-column {
        a {
          display: block;
        }
        .featured-image-blog-post {
          height: 200px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .post-info-column {
        padding: 40px;
      }
      .field {
        margin-bottom: 1em;
        &.field-date {
          margin-bottom: 0;
          .post-date {
            font-family: $font1;
            color: $tealGreen;
            display: block;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 5px;
          }
        }
        &.field-title {
          a {
            font-family: $font1;
            color: #0b3160;
            font-weight: 700;
            font-size: 18px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &.field-excerpt {
          font-size: 16px;
          margin-bottom: 1em;
          @include tabletMid {
            display: none;
          }
        }
      }
    }
  }
  .blog-pagination {
    margin-bottom: 60px;
    @include tabletMidmin {
      text-align: right;
    }
    .page-numbers {
      color: $Silver;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.3em 0.3em;
      line-height: 16px;
      width: 16px;
      box-sizing: content-box;
      display: inline;
      &.current {
        color: $tealGreen;
        border: 2px solid $tealGreen;
        border-radius: 50%;
      }
      &:not(.prev):not(.next) {
        display: inline-block;
        text-align: center;
      }
    }
  }
}
