{% set moduleName = 'cmCardWithPagination' %}

{% include "../partials/u4-module-includes.html" %}


<div class="page-center  {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">

	{{macros.introGroup(module.intro_content, module.module_settings)}}

	<div class="cardPaginationWrap">
		<div class="innerCardPagination">
			{% for item in module.cards %}
			<div class="card_item item_{{loop.index}}">
				{% if item.include_image %}
				{% if item.image.src %}
				<div class="featured-image">
					{% set href = item.link.url.href %}
					{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a
						 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
						 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
						 {% else %}
						 href="{{ href|escape_url }}"
						 {% endif %}
						 {% if item.link.open_in_new_tab %}
						 target="_blank"
						 {% endif %}
						 {% if item.link.rel %}
						 rel="{{ item.link.rel|escape_attr }}"
						 {% endif %}
						 >
						<img decoding="async" src="{{ item.image.src }} {{ loadingAttr }}">
					</a>
				</div>
				{% endif %}
				{% endif %}
				{% if item.title %}
				<div class="title-newsletter">
					{% set href = item.link.url.href %}
					{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a
						 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
						 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
						 {% else %}
						 href="{{ href|escape_url }}"
						 {% endif %}
						 {% if item.link.open_in_new_tab %}
						 target="_blank"
						 {% endif %}
						 {% if item.link.rel %}
						 rel="{{ item.link.rel|escape_attr }}"
						 {% endif %}
						 >
						<{{ item.title_size }}>{{ item.title }}</{{ item.title_size }}>
					</a>
				</div>
				{% endif %}
				{% if item.description %}
				<div class="innerContent">
					{{ item.description }}
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>
</section>



{# button group popup modal#}
{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}



