@import "../../css/_module-imports";


.cmCardWithPagination {
	.cardPaginationWrap {
		.innerCardPagination {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;

			.card_item {
				width: 30%;
				margin-top: 30px;

				.featured-image {
					a {
						display: block;
						margin: 0 auto;
					}
				}

				.title-newsletter {
					text-align: center;
					margin: 20px 0;

					a {
						display: block;
					}
				}
			}
		}
	}
}