@import "../../css/_module-imports";


.cmCardWithPagination {
	.cardPaginationWrap {
		.innerCardPagination {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
			row-gap: 0;

			.card_item {
				margin-top: 30px;

				.featured-image {
					a {
						display: block;
						margin: 0 auto;
					}
				}

				.title-newsletter {
					text-align: center;
					margin: 20px 0;

					a {
						display: block;
						color: $tealGreen;
						transition: unset;

						&>* {
							color: inherit;
							margin: 0;
						}

						&:hover {
							text-decoration: underline;
							color: $azure;
						}
					}
				}
			}
		}
	}
}