@import "../../css/_module-imports";

.u4m-partners {
	.btmCntt {
		.flex_row {
			align-items: center;
			row-gap: 40rem;
			.col.items {
				padding: 0;
				.innerImg {
					text-align: center;
				}
			}
		}
	}
}
