{% set moduleName = 'u4m-animated-stats' %}

{% include "../partials/u4-module-includes.html" %}

<div class="page-center {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">
  {{macros.introGroup(module.intro_content, module.module_settings)}}
  <div class="animated_stats_wrapper">
    <div class="stats_inner">
      <div class="flex_row col{{ module.module_settings.column_type }}_row" {% if module.module_settings.item_alignment %}style="justify-content: {{ module.module_settings.item_alignment }};"{% endif %}>
        {% if module.stats_items.left_column.embed_url.href|escape_url or module.stats_items.left_column.embed_text %}
        <div class="stats_left col col{{ module.module_settings.column_type }}">
          <div class="embed_url">
            <div class="video-wrapper">
              <iframe loading="lazy" src="{{ module.stats_items.left_column.embed_url.href|escape_url }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="" name="fitvid0"></iframe>

            </div>
          </div>
          <div class="embed_text">
            <div class="promo_description">
              <div>
                {{ module.stats_items.left_column.embed_text }}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% for item in module.stats_items.right_column %}
        <div class="stats_right col col{{ module.module_settings.column_type }}">

          <div class="number_count">
            <p {% if item.items_setting.count_color.rgba %}style="color:{{ item.items_setting.count_color.rgba }}"{% endif %}>
              {% if item.prefix %}
              <span class="prefix">{{ item.prefix }}</span>
              {% endif %}
              <span {% if module.module_settings.enable_counter %}class="counter"{% endif %}>{{ item.number }}</span>
              {% if item.surfix %}
              <span class="surfix">{{ item.surfix }}</span>
              {% endif %}
            </p>
          </div>
          <h5 class="title">{{ item.title }}</h5>
          {% if item.content %}
          <div class="cnt">
            {{ item.content }}
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>


{# button group popup modal#}
{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}
{% if module.stats_items.right_column_spacing.top %}
{% require_css %}
<style>
  {% scope_css %}
  .u4m-animated-stats .animated_stats_wrapper .stats_right{
    padding-top:{{ module.stats_items.right_column_spacing.top }}vw;
  }
  {% end_scope_css %}
</style>
{% end_require_css %}
{% endif %}
