<!--
 templateType: page
 isAvailableForNewContent: false
-->  

{% macro buttonGroup(items, popup)%}

{% if items %}

{% if popup == false %}

<div class="intro_btn_wrap">
	{% for item in items %}
	<div class="btn_item">
		{% if item.button_type == "std" %}
		{% set href = item.link.url.href %}
		{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
		{% endif %}
		<a class="{{ item.button_style ? item.button_style : "hs-button" }} {{item.button_theme}}"
			 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
			 href="{{ href }}" 
			 {% else %}
			 href="{{ href }}"
			 {% endif %}
			 {% if item.link.open_in_new_tab %}
			 target="_blank"
			 {% endif %}
			 {% if item.link.rel %}
			 rel="{{ item.link.rel }}"
			 {% endif %}>
			<span>{{ item.button_text }}</span>
		</a>
		{% endif %}


		{% if item.button_type == "popup_content" %}
		<a href="javascript:;" class="{{ item.button_style ? item.button_style : "hs-button" }} {{item.button_theme}} modal_trigger modal{{loop.index}}{{name}}" data-modal="modal{{loop.index}}{{name}}">
			<span>{{ item.button_text }}</span>
		</a>
		{% endif %}


		{% if item.button_type == "cta" %}
		{% cta guid="{{ item.cta }}" %}
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endif %}


{% if popup %}
{% for item in items %}

{% if item.button_type == "popup_content" and item.popup_content %}
<div class="popup_content_modal" data-modal-id="modal{{loop.index}}{{name}}">
	<div class="modal_overlay">
		
	</div>
	<div class="popup_content_modal_container">
		<span class="close_content_modal"></span>
		<div class="popup_content_modal_inner_container">
			<div class="popup_content_text">
				{{item.popup_content}}
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endfor %}
{% endif %}

{% endif %}

{% endmacro%}


{# #}

{% macro popup_contentloop(items)%}
{% if items %}
{% for item in items %}
<div class="popup_content_modal" data-modal-id="modal{{loop.index}}{{name}}">
		<div class="modal_overlay">
		
	</div>
	<div class="popup_content_modal_container">
		<span class="close_content_modal"></span>
		<div class="popup_content_modal_inner_container">
			<div class="popup_content_text">
				{{item.popup_content}}
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
{% endmacro%}

{# #}




{% macro singlebuttonGroup(item, popup)%}

{% if item %}

{% if popup == false %}

<div class="intro_btn_wrap">
	<div class="btn_item">
		{% if item.button_type == "std" %}
		{% set href = item.link.url.href %}
		{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
		{% endif %}
		<a class="{{ item.button_style ? item.button_style : "hs-button" }} {{item.button_theme}}"
			 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
			 href="{{ href }}" 
			 {% else %}
			 href="{{ href }}"
			 {% endif %}
			 {% if item.link.open_in_new_tab %}
			 target="_blank"
			 {% endif %}
			 {% if item.link.rel %}
			 rel="{{ item.link.rel }}"
			 {% endif %}>
			<span>{{ item.button_text }}</span>
		</a>
		{% endif %}


		{% if item.button_type == "popup_content" %}
		<a href="javascript:;" class="{{ item.button_style ? item.button_style : "hs-button" }} {{item.button_theme}} modal_trigger modal{{loop.index}}{{name}}" data-modal="modal{{loop.index}}{{name}}">
			<span>{{ item.button_text }}</span>
		</a>
		{% endif %}


		{% if item.button_type == "cta" %}
		{% cta guid="{{ item.cta }}" %}
		{% endif %}
	</div>
</div>
{% endif %}


{% if popup %}

{% if item.button_type == "popup_content" and item.popup_content %}
<div class="popup_content_modal" data-modal-id="modal{{loop.index}}{{name}}">
		<div class="modal_overlay">
		
	</div>
	<div class="popup_content_modal_container">
		<span class="close_content_modal"></span>
		<div class="popup_content_modal_inner_container">
			<div class="popup_content_text">
				{{item.popup_content}}
			</div>
		</div>
	</div>
</div>
{% endif %}


{% endif %}

{% endif %}

{% endmacro%}




{# #}


{# #}

{% macro introGroup(group, settings, overrides)%}
{% if group.include_eyebrow_text or group.include_heading or group.include_top_border or group.include_content or  group.include_button%}
<div class="intro_content {% if settings %}{{settings.intro_content_alignment}}{% endif %}">

	<div class="intro__inner ">
		{% if group.include_eyebrow_text and group.include_top_border == false %}
		<div class="eyebrow_text">
			{{ group.eyebrow_text }}
		</div>
		{% endif %}

		{% if group.include_top_border %}
		<div class="heading_top_border">
			<span></span>
		</div>
		{% endif %}



		{% if group.include_heading %}
		<{{group.heading_size}} class="intro_title 		{% if group.include_heading_border %}hd_border{% endif %}">{{ group.heading }}{% if group.include_heading_border %}<span></span>{% endif %}</{{group.heading_size}}>
			{% endif %}

			{% if group.include_content %}
			<div class="intro_desc {{ group.content_style }} {{settings.select_content_bg_color}}">
		{{ group.content }}
	</div>
	{% endif %}

	{% if group.include_button %}
	{{buttonGroup(group.button_group, false)}}
	{% endif %}



</div>
</div>
{% endif %}
{% endmacro%} 






