{% set moduleName = 'cmVideoGallery' %}

{% include "../partials/u4-module-includes.html" %}


<div class="page-center ratio_{{module.module_settings.column_width_ratio}} {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">

  <div>
    {{macros.introGroup(module.intro_content, module.module_settings)}}
  </div>

  <div class="flex_row">

    {% set leftColLength = module.left_group.items|length%}
    {% if leftColLength > 0%}

    <div class="left_group col {{ module.module_settings.column_width_ratio == "half" ? "col6" : "col12" }}">
      {#       {{macros.introGroup(module.left_group.intro_content, module.module_settings)}} #}

      {% if module.left_group.label_text %}
      <div class="lebal_text row_spacing">
        <h4>
          {{ module.left_group.label_text }}
        </h4>
      </div>
      {% endif %}

      <div class="cmVideoGalleryWrap row_spacing">
        <div class="innerVideoGallery">
          <div class="slider-for primary_slider" >
            <div class="splide__track">
              <div class="splide__list">
                {% for item in module.left_group.items %}
                <div class="item-slick splide__slide" data-src="{{ item.video_url }}?controls=1&rel=0&autoplay=0" data-video-src="{{ item.file_field }}">
                  <div class="videoWrapper">
                    {% if item.select_video_type == "hubspot_video" %}
                    <video muted controls src="{{ item.file_field }}"></video>
                    {% elif item.select_video_type == "external_video" %}
                    {% if item.video_url %}
                    <iframe loading="lazy" title="North Carolina Water Supply Dashboard - Introduction" src="{{ item.video_url }}?controls=1&rel=0&autoplay=0" data-src="{{ item.video_url }}?controls=1&rel=0&autoplay=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="" name="fitvid3"></iframe>
                    {% endif %}
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="slider-nav thumbnail_slider" >
            <!-- 				<div class="splide__track">
 <div class="splide__list"> -->
            {% for item in module.left_group.items %}
            <div class="item-slick splide__slide">
              {% if item.poster_image.src %}
              <div class="cm_video_overlay">
                <img src="{{ item.poster_image.src }}" alt="{{ item.poster_image.alt }}">
                <div class="cm_video_overlay_hover" data-iframe="{{ item.video_url|split('?') }}?controls=1&rel=0&autoplay=0" data-video="{{ item.file_field }}">
                  <a href="#" class="cm_video_play"></a>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            <!-- 					</div>
 </div> -->
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% set rightColLength = module.right_group.items|length%}
    {% if rightColLength > 0%}
    <div class="right_group col {{ module.module_settings.column_width_ratio == "half" ? "col6" : "col12" }}">
      {% if module.right_group.label_text %}
      <div class="lebal_text row_spacing">
        <h4>
          {{ module.right_group.label_text }}
        </h4>
      </div>
      {% endif %}
      <div class="cmVideoGalleryWrap row_spacing">
        <div class="innerVideoGallery">
          <div class="slider-for primary_slider" >
            <div class="splide__track">
              <div class="splide__list">
                {% for item in module.right_group.items %}
                <div class="item-slick splide__slide" data-src="{{ item.video_url }}?controls=1&rel=0&autoplay=0" data-video-src="{{ item.file_field }}">
                  <div class="videoWrapper">
                    {% if item.select_video_type == "hubspot_video" %}
                    <video muted controls src="{{ item.file_field }}"></video>
                    {% elif item.select_video_type == "external_video" %}
                    {% if item.video_url %}
                    <iframe loading="lazy" title="North Carolina Water Supply Dashboard - Introduction" src="{{ item.video_url }}?controls=1&rel=0&autoplay=0" data-src="{{ item.video_url }}?controls=1&rel=0&autoplay=0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="" name="fitvid3"></iframe>
                    {% endif %}
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="slider-nav thumbnail_slider" >
            <!-- 				<div class="splide__track">
 <div class="splide__list"> -->
            {% for item in module.right_group.items %}
            <div class="item-slick splide__slide">
              {% if item.poster_image.src %}
              <div class="cm_video_overlay">
                <img src="{{ item.poster_image.src }}" alt="{{ item.poster_image.alt }}">
                <div class="cm_video_overlay_hover" data-iframe="{{ item.video_url|split('?') }}?controls=1&rel=0&autoplay=0" data-video="{{ item.file_field }}">
                  <a href="#" class="cm_video_play"></a>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            <!-- 					</div>
 </div> -->
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

</div>
</section>



{# button group popup modal#}
{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}



{% require_css %}

<style>
  .{{name}} .videoWrapper {
    position: relative;
  }

  .{{name}} .videoWrapper  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .{{name}} .primary_slider {
    margin-bottom: 10px;
  }

  .{{name}} .innerVideoGallery button.slick-arrow {
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    font-size: 0;
    z-index: 4;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .{{name}} .innerVideoGallery button.slick-prev {
    left: -22px;
  }

  .{{name}} .innerVideoGallery button.slick-next {
    right: 0;
  }

  .{{name}} .innerVideoGallery button.slick-arrow:before {
    content: "4";
    font-family: ETmodules !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0;
    direction: ltr;
    font-size: 48px;
  }

  .{{name}} .innerVideoGallery button.slick-next:before {
    content: "5";
  }

  .slick-slider:hover {
  }

  .{{name}} .innerVideoGallery .slick-slider:hover button.slick-prev {
    left: 22px;
    opacity: 1;
  }

  .{{name}} .innerVideoGallery .slick-slider:hover button.slick-next {
    right: 22px;
    opacity: 1;
  }

  .{{name}} .cm_video_overlay_hover a:after {
    font-family: ETmodules;
    content: "I";
  }

  .{{name}} .cm_video_overlay_hover a {
    color: #fff;
    text-decoration: none;
    font-size: 44px;
    line-height: 1;
  }

  .{{name}} .cm_video_overlay:after {
    content: '';
    padding-bottom: 56%;
    display: block;
    width: 100%;
  }

  .{{name}} .cm_video_overlay img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


</style>

{% end_require_css%}



{% require_js %}
<script>



  $(".{{name}} .left_group .primary_slider .splide__list").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    fade: true,
    infinite: true,
    speed: 1000,
    asNavFor: ".{{name}} .left_group .thumbnail_slider",
    arrows: true,
    prevArrow:
    '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow:
    '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
    });
  $(".{{name}} .left_group .thumbnail_slider").slick({
    slidesToShow: 3,
    slidesToScroll: 3,
    infinite: true,
    asNavFor: ".{{name}} .left_group .primary_slider .splide__list",
    dots: false,
    centerMode: false,
    focusOnSelect: true,
    arrows: true,
    prevArrow:
    '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow:
    '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
    });





  var mainSlider = document.querySelector(".{{name}} .left_group .primary_slider");

                                          var thumbnailSlider = document.querySelector(".{{name}} .left_group .thumbnail_slider");

                                          $(".{{name}} .left_group .thumbnail_slider, .innerVideoGallery .slick-arrow").on("click", ".slick-slide", function () {
                                          $('.{{name}} .primary_slider .item-slick').each(function () {
                                          var $this = $(this); 
  var getIframeSrc = $this.attr('data-src');
  var getVideoSrc = $this.attr('data-video-src');

  if (getIframeSrc) {
    $this.find('iframe').attr('src', getIframeSrc);
  }
  if (getVideoSrc) {
    $this.find('video').attr('src', getVideoSrc);
  }
  });
  });


  $(".{{name}} .left_group .primary_slider").on("afterChange", function (event) {
    $('.{{name}} .primary_slider .item-slick').each(function () {

    var $this = $(this); 
  var getIframeSrc = $this.attr('data-src');
  var getVideoSrc = $this.attr('data-video-src');

  if (getIframeSrc) {
    $this.find('iframe').attr('src', getIframeSrc);
  }
  if (getVideoSrc) {
    $this.find('video').attr('src', getVideoSrc);
  }
  });
  });

  //============================
  //============================

  $(".{{name}} .right_group .primary_slider .splide__list").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    fade: true,
    infinite: true,
    speed: 1000,
    asNavFor: ".{{name}} .right_group .thumbnail_slider",
    arrows: true,
    prevArrow:
    '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow:
    '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
    });
  $(".{{name}} .right_group .thumbnail_slider").slick({
    slidesToShow: 3,
    slidesToScroll: 3,
    infinite: true,
    asNavFor: ".{{name}} .right_group .primary_slider .splide__list",
    dots: false,
    centerMode: false,
    focusOnSelect: true,
    arrows: true,
    prevArrow:
    '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow:
    '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
    });





  var mainSlider = document.querySelector(".{{name}} .right_group .primary_slider");

                                          var thumbnailSlider = document.querySelector(".{{name}} .right_group .thumbnail_slider");

                                          $(".{{name}} .right_group .thumbnail_slider, .innerVideoGallery .slick-arrow").on("click", ".slick-slide", function () {
                                          $('.{{name}} .primary_slider .item-slick').each(function () {
                                          var $this = $(this); 
  var getIframeSrc = $this.attr('data-src');
  var getVideoSrc = $this.attr('data-video-src');

  if (getIframeSrc) {
    $this.find('iframe').attr('src', getIframeSrc);
  }
  if (getVideoSrc) {
    $this.find('video').attr('src', getVideoSrc);
  }
  });
  });


  $(".{{name}} .right_group .primary_slider").on("afterChange", function (event) {
    $('.{{name}} .primary_slider .item-slick').each(function () {

    var $this = $(this); 
  var getIframeSrc = $this.attr('data-src');
  var getVideoSrc = $this.attr('data-video-src');

  if (getIframeSrc) {
    $this.find('iframe').attr('src', getIframeSrc);
  }
  if (getVideoSrc) {
    $this.find('video').attr('src', getVideoSrc);
  }
  });
  });



</script>
{% end_require_js %}

