@import "../../css/_module-imports";


.cmVideoGallery {
    .cmVideoGalleryWrap {
        .innerVideoGallery {
            button.splide__arrow--prev {
                left: -22px;

                &::before {
                    content: "4";
                }
            }

            button.splide__arrow--next {
                right: -22px;

                &::before {
                    content: "5";
                }
            }

            button.splide__arrow {
                padding: 0;
                border: none;
                background-color: transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                width: 48px;
                height: 48px;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                opacity: 0;

                svg {
                    display: none;
                }

                &::before {
                    font-family: ETmodules;
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    -webkit-font-feature-settings: normal;
                    font-feature-settings: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-shadow: 0 0;
                    direction: ltr;
                    color: $white;
                    font-size: 48px;
                    opacity: 1;
                }
            }

            .splide__track {
                overflow: hidden;

                .splide__list {
                    display: flex;
                    margin: 0 !important;
                    padding: 0 !important;
                }

                .splide__slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 257px;
                    overflow: hidden;
                    transition: .2s;
                    position: relative;
                    background: rgba(0, 0, 0, .25);
                    margin: 0 10px;
                    width: 32%;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }

            .slider-for {
                &:hover {
                    button.splide__arrow--prev {
                        left: 22px;
                        opacity: 1;
                    }

                    button.splide__arrow--next {
                        right: 22px;
                        opacity: 1;
                    }
                }

                .splide__track {

                    .splide__slide {
                        margin: 0;
                    }
                }

                .videoWrapper {
                    padding-bottom: 56.2963%;
                    width: 100%;
                    position: relative;

                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        border: none;
                    }
                }
            }

            .slider-nav {
                margin-top: 2%;
                position: relative;

                &:hover {
                    button.splide__arrow--prev {
                        left: 22px;
                        opacity: 1;
                    }

                    button.splide__arrow--next {
                        right: 22px;
                        opacity: 1;
                    }
                }

                .splide__track {
                    margin: 0 -10px;

                    .splide__slide {
                        &.is-active {
                            .cm_video_overlay {
                                .cm_video_overlay_hover {
                                    background: rgba(0, 0, 0, .6);
                                }
                            }
                        }

                        .cm_video_overlay {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            z-index: 10;
                            height: 100%;
                            width: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: 50%;
                            cursor: pointer;

                            .cm_video_overlay_hover {
                                background: transparent;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 100;
                                -webkit-transition: all .5s ease-in-out;
                                transition: all .5s ease-in-out;

                                a.cm_video_play {
                                    font-size: 44.48rem;
                                    line-height: 44.48rem;
                                    margin-left: -1.39rem;
                                    margin-top: -1.39rem;
                                    opacity: 0;
                                    -webkit-transition: all .5s ease-in-out;
                                    transition: all .5s ease-in-out;
                                    display: block;
                                    position: absolute;
                                    z-index: 100;
                                    color: $white;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);

                                    &:before {
                                        font-family: $iconFont;
                                        content: "I";
                                    }
                                }
                            }
                        }

                        &:after {
                            padding-top: 75%;
                            display: block;
                            content: "";
                        }

                        &.slick-active.slick-current {
                            .cm_video_overlay {
                                .cm_video_overlay_hover {
                                    background: rgba(0, 0, 0, .6);
                                }
                            }
                        }

                        &:hover {
                            .cm_video_overlay {
                                .cm_video_overlay_hover {
                                    background: rgba(0, 0, 0, .6);

                                    a.cm_video_play {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}