@import "../../css/_module-imports";
section.u4m-hero {
  position: relative;

  &:has(.buttonAdded) {
    padding-bottom: 0;

    .page-center {
      margin-bottom: 50px;
    }

    &.full_height {
      @include tabletvert {
        height: auto;
      }
    }
  }

  &.full_height {
    display: flex;
    align-items: center;
    min-height: 480px;
    height: calc(100vh - 120px);
    flex-direction: column;
    justify-content: center;

    .page-center {
      margin-top: auto;
    }
  }

  h1.intro_title {
    font-size: 5.7vw;
    line-height: 1.4em;
    text-shadow: 0em 0em 0.8em rgba(0, 17, 51, 0.55);

    @include tabletvert {
      font-size: 48rem;
    }
  }
  h2.intro_title {
    font-size: 5.2vw;
    line-height: 1.4em;
    text-shadow: 0em 0em 0.8em rgba(0, 17, 51, 0.55);
    @include tabletvert {
      font-size: 40rem;
    }
  }

  .intro_content {
    max-width: 100%;
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;
    .intro_btn_wrap {
      display: none;
    }

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }

  .btn_bottom_wrap {
    min-height: 83px;
    position: static;
    width: 100%;
    margin-top: auto;

    .intro_btn_wrap {
      bottom: 0;
      justify-content: flex-end;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 4;
      flex-wrap: nowrap;
      gap: 0;
      // flex-direction: row-reverse;
      align-items: flex-end;

      @include tabletMid {
        position: static;
        flex-direction: column-reverse;
      }

      a {
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2px;
        padding: 30px 20px;
        margin-top: 10px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        transition:
          margin 300ms ease 0ms,
          padding 300ms ease 0ms,
          border-radius 300ms ease;
        &:hover {
          padding: 35px 20px !important;
        }
      }

      .btn_item {
        width: 33.33%;

        @include tabletMid {
          width: 100%;
        }

        &:first-child > a {
          border-radius: 10px 0 0 0;
        }

        &:first-child:hover > a {
          border-radius: 10px 10px 0 0;
        }

        &:nth-child(2):not(:last-of-type):hover > a,
        &:nth-child(3):hover > a {
          border-radius: 10px 10px 0 0;
        }
      }

      a.hs-button {
        background-color: $slateBlue;
        color: $white;
        box-shadow: 0px 12px 100px -6px rgba(85, 103, 127, 0.6);

        :hover {
          padding: 35px 20px;
        }
      }

      a.hs-sec-btn {
        background-color: $cadetGray;
        color: $white;
        box-shadow: 0px 12px 100px -6px rgba(85, 103, 127, 0.6);

        :hover {
          padding: 35px 20px;
        }
      }

      a.hs-ter-btn {
        background-color: $sunsetOrange;
        color: $azure;
        box-shadow: 0px 12px 100px -6px rgba(255, 186, 90, 0.6);

        :hover {
          padding: 35px 20px;
        }
      }
    }
  }
}
