{% set moduleName = 'u4m-hero' %}
{% set moduleExtraName =  module.module_settings.select_height %}

{% include "../partials/u4-module-includes.html" %}


<div class="page-center  {% if 	module.intro_content.include_button %}buttonAdded {% endif %} {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">

	<div class="hero_inner_wrap fade-in" data-aos="fade-up" data-aos-delay="1000">
		{{macros.introGroup(module.intro_content, module.module_settings)}}
	</div>

</div>

{% if module.intro_content.include_button %}
<div class="btn_bottom_wrap">
	{{macros.buttonGroup(module.intro_content.button_group, false)}}
</div>
{% endif %}


</section>



{# button group popup modal#}
{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}


{% if module.module_settings.select_height == "custom" %}
{% require_css %}
<style>
	.{{name}} .page-center{
		max-height:  {{ module.module_settings.custom_height }}rem;
	}
</style>
{% end_require_css %}
{% endif %}


