@import "../../css/_module-imports";

section.u4m-hero {
  position: relative;
  overflow: hidden;

  .bodystyle2 {
    @include tabletvert {
      line-height: 2em;
    }
  }

  .page-center {
    width: 100%;
  }
  &:has(.buttonAdded) {
    padding-bottom: 0;

    .page-center {
      margin-bottom: 50px;
      @include tabletMid {
        margin-bottom: 20px;
      }
    }

    &.full_height {
      @include tabletvert {
        height: auto;
      }
    }
    @include tabletMid {
      padding-bottom: 0 !important;
    }
  }

  &.full_height {
    display: flex;
    align-items: center;
    min-height: 480px;
    height: calc(100vh - 120px);
    flex-direction: column;
    justify-content: center;
    @include tabletMid {
      height: auto;
    }

    .page-center {
      margin-top: auto;
      @include tabletvert {
        margin-bottom: auto;
      }
    }
  }

  h1.intro_title {
    font-size: 5.7vw;
    line-height: 1.4em;
    text-shadow: 0em 0em 0.8em rgba(0, 17, 51, 0.55);

    @include tabletvert {
      font-size: 48rem;
    }
  }
  h2.intro_title {
    font-size: 5.2vw;
    line-height: 1.4em;
    text-shadow: 0em 0em 0.8em rgba(0, 17, 51, 0.55);
    @include tabletvert {
      font-size: 40rem;
    }
  }

  .intro_content {
    max-width: 100%;
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;

    @include tabletvert {
      width: 100%;
    }

    .intro_btn_wrap {
      display: none;
    }

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }

  .btn_bottom_wrap {
    min-height: 83px;
    position: static;
    width: 100%;
    margin-top: auto;

    @include tabletMid {
      position: relative;
    }

    .intro_btn_wrap {
      bottom: 0;
      justify-content: flex-end;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 4;
      flex-wrap: nowrap;
      gap: 0;
      // flex-direction: row-reverse;
      align-items: flex-end;

      @include tabletMid {
        position: static;
        flex-direction: column-reverse;
      }

      a {
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2px;
        padding: 30px 20px;
        margin-top: 10px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        transition:
          margin 300ms ease 0ms,
          padding 300ms ease 0ms,
          border-radius 300ms ease;
        &:hover {
          padding: 35px 20px !important;
          border-radius: 10px 10px 0 0 !important;
        }
      }

      .btn_item {
        width: 33.33%;

        @include tabletMid {
          width: 100%;
        }

        &:first-child > a {
          border-radius: 10px 0 0 0;
        }

        &:first-child:hover > a {
          border-radius: 10px 10px 0 0;
        }

        &:nth-child(2):not(:last-of-type):hover > a,
        &:nth-child(3):hover > a {
          border-radius: 10px 10px 0 0;
        }
      }

      a.hs-button {
        background-color: $slateBlue;
        color: $white;
        box-shadow: 0px 12px 100px -6px rgba(85, 103, 127, 0.6);

        :hover {
          padding: 35px 20px;
        }
      }

      a.hs-sec-btn {
        background-color: $cadetGray;
        color: $white;
        box-shadow: 0px 12px 100px -6px rgba(85, 103, 127, 0.6);

        :hover {
          padding: 35px 20px;
        }
      }

      a.hs-ter-btn {
        background-color: $sunsetOrange;
        color: $azure;
        box-shadow: 0px 12px 100px -6px rgba(255, 186, 90, 0.6);

        :hover {
          padding: 35px 20px;
        }
      }
    }

    .intro_btn_wrap {
      bottom: -100px;
      transition: 0.4s ease 0.3s;
    }

    &.animate_btn {
      .intro_btn_wrap {
        bottom: 0;
      }
    }
  }

  .featuredItemswrap {
    padding: 30px 0;
    @include tabletvertmin {
      padding: 13px 0;
    }
    .featuredItems {
      gap: 0;
      &:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
        width: 0;
      }
      .ftritem {
        width: 100%;
        display: flex;
        @include tabletvertmin {
          width: 50%;
        }
        @include tabletMidmin {
          width: 25%;
        }
        float: left;
        .ftritemin {
          width: 100%;
          border: 0 solid;
          border-top-width: 3px;
          border-left-width: 3px;
          border-radius: 10px 0 0 0;
          border-color: $sunsetOrange;
          padding: 20px 11px 0 20px;
          margin-bottom: 10px;
          h5 {
            text-align: center;
            letter-spacing: 1px;
            line-height: 1.6em;
            text-transform: uppercase;
            margin: 0;
            padding: 10px 0;
          }
        }
      }
    }
  }

  .floating_text {
    position: absolute !important;
    transform: rotateZ(-90deg);
    transform-origin: 100% 0;
    top: 20px;
    line-height: 1em;
    right: 3em;
    height: 3em;
    text-transform: uppercase;
    padding: 8px 15px;
    background: $white;
    font-size: 9px;
    font-weight: 700;
    border-top-right-radius: 10px;
    top: 180px;
    opacity: 0.5;
    color: $darkGray;
    z-index: 5;
    top: 50%;
    right: 26rem;
    top: 50%;
    transform: rotate(-90deg) translateX(50%);
    color: $baseColor;
    @include tabletMid {
      display: none;
    }
  }
}

.u4m_hero_outer_wrap {
  &.credit_text_inside {
    .bottom_credit {
      position: absolute;
      bottom: 10px;
      left: 0;
      padding: 0;
      width: 100%;

      .cmCreditCnt {
        .cmCreditCnt_text {
          color: $darkGray;
        }
      }
    }
  }
}
