<div class="u4m_hero_outer_wrap">
  {% set moduleName = 'u4m-hero' %}
  {% set moduleExtraName =  module.module_settings.select_height %}

  {% include "../partials/u4-module-includes.html" %}


  <div class="page-center  {% if 	module.intro_content.include_button %}buttonAdded {% endif %} {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">

    <div class="hero_inner_wrap row_spacing fade-in" data-aos="fade-up" >
      {{macros.introGroup(module.intro_content, module.module_settings)}}

      {% if module.intro_content.include_content_button %}
      <div class="content_button_wrap">
        {{macros.buttonGroup(module.intro_content.content_button_group, false)}}
      </div>
      {% endif %}
      {% if module.intro_content.include_featured_items %}
      <div class="featuredItemswrap">
        <div class="featuredItems flex_row">
          {% for item in module.intro_content.featured_items %}
          {% if item.text %}
          <div class="ftritem">
            <div class="ftritemin">
              <h5>{{ item.text }}</h5> 
            </div> 
          </div> 
          {% endif %}
          {% endfor %}
        </div> 
      </div>
      {% endif %}
    </div>

  </div>



  {% if module.intro_content.include_button %}
  <div class="btn_bottom_wrap">
    {{macros.buttonGroup(module.intro_content.button_group, false)}}
  </div>
  {% endif %}


  </section>

{% if module.intro_content.include_credit_text and module.intro_content.credit_text  %}
<div class="bottom_credit">
  <div class="cmCreditCnt">
    <div class="cmCreditCnt_text">{{ module.intro_content.credit_text }}</div>
  </div>
</div>
{% endif %}


{# button group popup modal#}
{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}
{% if module.intro_content.include_content_button %}
{{macros.buttonGroup(module.intro_content.content_button_group, true)}}
{% endif %}



{% require_css %}
<style>
  {% if module.module_settings.select_height == "custom" %}
  .{{name}} .page-center{
    max-height:  {{ module.module_settings.custom_height }}rem;
  }
  {% endif %}
  .{{name}}.u4m-hero .intro_title{
    font-size:{{ module.module_settings.heading_font.font_size }}vw;
    line-height:{{ module.module_settings.heading_font.line_height }}em;
    {% if module.module_settings.heading_font.bottom_padding %}
    padding-bottom:{{ module.module_settings.heading_font.bottom_padding }}px;
    {% endif %}
    {% if module.module_settings.content_font.color %}
    color:{{ module.module_settings.heading_font.color.rgba }};  
    {% endif %}
  }
  .{{name}}.u4m-hero .intro_desc *{ 
    {% if module.module_settings.content_font.color.rgba %}
    color:{{ module.module_settings.content_font.color.rgba }};   
    {% endif %}
  }
  .{{name}}.u4m-hero .intro_desc{
    font-size:{{ module.module_settings.content_font.font_size }}rem;
    line-height:{{ module.module_settings.content_font.line_height }}em;
    max-width:{{ module.module_settings.content_font.max_width }}px;
    margin-left:auto;
    margin-right:auto;
  }
</style>
{% end_require_css %}




</div>