@import "../../css/_module-imports";

.cmRichText {
  .intro_content {
    .intro_desc {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 78px;
      margin-bottom: 39px;
      padding-top: 43px;

      @include tabletvert {
        padding-left: 30px;
        padding-right: 30px;
      }

      &[class*="_bg"] {
        filter: opacity(85%);
        backface-visibility: hidden;
      }

      h4 {
        @include eyebrowText2;

        &:after {
          margin-left: 0;
          transform: none;
          left: 0;
        }
      }

      a {
        word-wrap: break-word;
      }
    }
  }
}