// Colors - For transparency use rgba($action1, 0.5) = 50% opaque
$action1: #733bf7;
$action2: #00a4bd;
$black: #000;
$white: #fff;
$gray1: #edf0f2;
$gray2: #cbd6e2;
$gray3: #7c98b6;

// ===================

$sunsetOrange: #ffba5a;
$slateBlue: #55677f;
$tealGreen: #008078;
$darkGray: #666666;
$azure: #0b3160;
$cadetGray: #8e9ca4;
$whiteSmoke: #f7f7f7;
$lightGray: #e5e5e5;
$darkblue: #151f33;
$darkText: #a7a7a7;

//=====================

$gradient1: linear-gradient(-45deg, $black 0%, $action2 50%);
$font1: "Quicksand", Helvetica, Arial, Lucida, sans-serif;
$baseFontSize: 16rem;
$baseLineHeight: 1.61803398875; // Golden ratio
$baseColor: $darkGray;
$baseFontWeight: 500;
$iconFont: "ETmodules";

// Border Radius
$border1: 4rem;
$border2: 5rem;
$border3: 10rem;

// Shadow
$shadow1: 6px 6px 18px -3px $cadetGray;
$shadow2: 0px 32px 80px -16px rgba(85, 103, 127, 0.3);
$shadow3: 0 0 15px rgba(0, 0, 0, 0.2);

// Animation
$animation1: 300ms ease 0ms;
$animation2: 0.25s ease-in;
$animation3: 1s ease-in;

$borderRadius: 25rem;
$buttonBorderRadius: 6rem;

$outerContainerSize: 1400rem;
$containerSize: 1110rem;
$containerInnerSpacing: 15rem;

$introContainer: 810rem;

$cardShdw: 0px 2px 18px 0px rgba($black, 0.3);

$textshadow: -0.03em 0.02em 0.08em rgba($black, 0.4);
$textshadow2: 0.21em 0.21em 0.3em rgba($black, 0.4);

$white50: rgba($white, 0.5);
