section.u4m-drag-and-drop-area {
  @include center;
  margin: 100rem auto;
  form {
    @include form;
  }
}

.dnd_padd,
.dnd-section {
  padding: 100rem 0;
  form {
    @include form;
  }
  @include tablet {
    padding: 60rem 0;
  }

  @include tabletvert {
    padding: 50rem 0;
  }

  @include phone {
    padding: 40rem 0;
  }
}

.dnd_padd {
  &.bg_pos_inside {
    border-radius: 10px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}

.dnd-section[class*="full-width"],
.dnd-section.dnd_padding {
  padding: 0rem 0;
}

.page-center,
.content-wrapper,
.dnd-section > .row-fluid {
  @include center;
  margin: 0 auto;
}

.full-width,
[class*="full-width-section"].dnd-section > .row-fluid {
  max-width: 100%;
  padding: 0;
}
[class*="full-width-section"].dnd-section > .row-fluid > .dnd-column {
  padding: 0;
}

.flex-row,
.flex_row {
  display: flex;
  flex-wrap: wrap;
}

.page-center.full_width {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

main#main-content {
  max-width: $outerContainerSize;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@include tabletvertmin {
  .dnd-section .row-fluid > .dnd-column,
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@include tablet {
  .col20_row .col20 {
    width: 33.33%;
  }
}

@include tabletMid {
  .col20_row .col20,
  .col3_row .col3,
  .col4_row .col4 {
    width: 50%;
  }
}

@include tabletvert {
  .col20_row .col20,
  .col3_row .col3,
  .col4_row .col4 {
    width: 100%;
  }
}
