@import "../../css/_module-imports";
.u4m-embdedContent{
	.page-center.full_width {
		@include tablet {
			padding: 0 15px;
		}
	}
	.intro_content {
		.intro_title {
			line-height: 1.5em;
		}
	}
	
	.embedded_contentWrap {
		.innerEmbedded_cnt {
			.mainFrameRow {
				display: flex;
				width: 100%;
			}
			display: flex;
			flex-wrap: wrap;
			row-gap: 5px;
			p {
				margin: 0;
				@include laptop{
					padding-left:15px;
					padding-right:15px;
				}
			}
		}
	}
}