{% set moduleName = 'u4m-alternating-content' %}

{% include "../partials/u4-module-includes.html" %}


{% if module.module_settings.column_width_ratio == "one_one" %}
{% set contcolWidth = "col6 col"%}
{% set imgcolWidth = "col6 col"%}

{% endif %}
{% if module.module_settings.column_width_ratio == "two_three" %}
{% set contcolWidth = "col5 col"%}
{% set imgcolWidth = "col7 col"%}
{% endif %}
{% if module.module_settings.column_width_ratio == "three_two" %}
{% set contcolWidth = "col7 col"%}
{% set imgcolWidth = "col5 col"%}
{% endif %}

{% if module.module_settings.column_width_ratio == "two_four" %}
{% set contcolWidth = "col4 col"%}
{% set imgcolWidth = "col8 col"%}
{% endif %}
{% if module.module_settings.column_width_ratio == "four_two" %}
{% set contcolWidth = "col8 col"%}
{% set imgcolWidth = "col4 col"%}
{% endif %}

{% if module.module_settings.column_width_ratio == "full_width" %}
{% set contcolWidth = "col12 col"%}
{% set imgcolWidth = "col12 col"%}
{% endif %}




<div class="page-center {{module.module_settings.column_width_ratio}}_col {% if module.module_settings.remove_intro_content_group %} remove_intro_content_group{% endif %}{% if module.module_settings.remove_content_group %} remove_content_group{% endif %}{% if module.module_settings.remove_media_group %} remove_media_group{% endif %} imgAl_{{ module.module_settings.image_column_alignment }}  {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">


	{% if module.module_settings.remove_intro_content_group == false %}
	{% if module.intro_content %}
	{{macros.introGroup(module.intro_content, module.module_settings)}}
	{% endif %}
	{% endif %}

	<div class="main_content row_spacing">

		<div class="flex_row">
			{% if module.module_settings.remove_content_group == false %}
			<div class="content_col text_{{ module.module_settings.content_group_alignment }} verAl_{{ module.module_settings.content_vertical_alignment }} {{contcolWidth}}">
				<div class="content_col_inner">
					{{macros.introGroup(module.content_group)}}
				</div>
			</div>
			{% endif %}

			{% if module.module_settings.remove_media_group == false %}
			<div class="media {{imgcolWidth}}">
				<div class="media_col_inner">

					<div class="media_box	{% if module.media_column.enable_credit_text %}credit_textEnable{% endif %}">
						{% if module.media_column.select_media_type == "image" %}

						{% if module.media_column.image.src %}
						<div class="image_box {% if module.media_column.cover_image %}cover_image{% endif %}">
							{% if module.media_column.include_link %}
							{% if module.media_column.link_type == "img_link" %}
							{% set href = module.media_column.link_on_image.url.href %}
							{% if module.media_column.link_on_image.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a  class="overlay_link"
								 {% if module.media_column.link_on_image.url.type is equalto "CALL_TO_ACTION"  %}
								 href="{{ href }}" 
								 {% else %}
								 href="{{ href }}"
								 {% endif %}
								 {% if module.media_column.link_on_image.open_in_new_tab %}
								 target="_blank"
								 {% endif %}
								 {% if module.media_column.link_on_image.rel %}
								 rel="{{ module.media_column.link_on_image.rel }}"
								 {% endif %} >
							</a>
							{% endif %}
							{% endif %}

							{% if module.media_column.enable_parallax %}
							<div class="simpleParallax_wrap">
								<img src="{{ module.media_column.image.src }}" alt="{{ module.media_column.image.alt }}">
							</div>
							{% else %}
							<img src="{{ module.media_column.image.src }}" alt="{{ module.media_column.image.alt }}">
							{% endif %}
						</div>
						{% endif %}

						{% endif %}

						{% if module.media_column.select_media_type == "video" %}
						<div class="video_box">
							<iframe title="water data community" src="{{ module.media_column.embedded_url }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="" name="fitvid0"></iframe>
						</div>
						{% endif %}




					</div>

					{% if module.media_column.include_link %}

					{% if module.media_column.link_type == "button" %}
					<div class="large_button_link">
						{% set href = module.media_column.button_group.link.url.href %}
						{% if module.media_column.button_group.link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						<a  class="{{ module.media_column.button_group.select_link_theme }}"
							 {% if module.media_column.button_group.link.url.type is equalto "CALL_TO_ACTION"  %}
							 href="{{ href }}" 
							 {% else %}
							 href="{{ href }}"
							 {% endif %}
							 {% if module.media_column.button_group.link.open_in_new_tab %}
							 target="_blank"
							 {% endif %}
							 {% if module.media_column.button_group.link.rel %}
							 rel="{{ module.media_column.button_group.link.rel }}"
							 {% endif %}
							 >{{ module.media_column.button_group.link_text }}
						</a>
					</div>
					{% endif %}
					{% endif %}

					{% if module.media_column.enable_credit_text %}
					<div class="credit_text_wrap">
						<span class="credit_text">
							{{ module.media_column.credit_text }}
						</span>
					</div>
					{% endif %}
				</div>
			</div>
			{% endif %}

		</div>

	</div>


</div>
</section>



{# button group popup modal#}

{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}

{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.content_group.button_group, true)}}
{% endif %}


{% set colSet = module.content_group.column_settings%}
{% require_css %}
<style>

	.{{name}} .content_col{
		padding :{{ colSet.top_spacing }}px {{ colSet.right_spacing }}px {{ colSet.bottom_spacing }}px {{ colSet.left_spacing }}px;
	}
	{% if colSet.change_mobile_spacing %}
	@media(max-width: 991px){
		.{{name}} .content_col{
			padding : {{ colSet.mobile_top_spacing }}px {{ colSet.mobile_right_spacing }}px {{ colSet.mobile_bottom_spacing }}px {{ colSet.mobile_left_spacing }}px;
		}
	}
	{% endif %}
  
  .u4m-alternating-content.{{name}} .intro_content .intro_title{
    color:{{ module.content_group.column_settings.heading_color.rgba }}
  }
</style>
{% end_require_css %}



{% if module.module_settings.remove_media_group == false %}
{% if module.media_column.select_media_type == "image" %}
{% if module.media_column.enable_parallax %}


{% require_js %}
<script>
	var images = document.querySelectorAll('.{{name}} .simpleParallax_wrap img');
																				 new simpleParallax(images);
</script>
{% end_require_js %}
{% endif %}
{% endif %}
{% endif %}