{% set moduleName = 'cmCounterSection' %}

{% include "../partials/u4-module-includes.html" %}


<div class="page-center {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">

	{{macros.introGroup(module.intro_content, module.module_settings)}}
	<div class="counter-section">
		<div class="counter_section_inner row_spacing">
			<div class="flex_row col3_row">
				{% for item in module.counter_items %}
				<div class="counter_item col col3">
					<div class="title_wrapper">
						<div class="number_wrapper">
							<p>
								{% if item.prefix %}
								<span class="prefix">{{ item.prefix }}</span>
								{% endif %}
								<span class="count counter" >{{ item.number_field }}</span>
								{% if item.surfix %}
								<span class="surfix">{{ item.surfix }}</span>
								{% endif %}
							</p>
						</div>
						<h5 class="title">{{ item.title }}</h5>

					</div>
					<div class="counter_summary">
						{{ item.content }}
					</div>
				</div>
				{% endfor %}
			</div>

		</div>

	</div>
</div>
</section>



{# button group popup modal#}
{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}


{# {% require_js %}
<script src="https://48598847.fs1.hubspotusercontent-na1.net/hubfs/48598847/InternetofWater-u4m/js/jquery-2.2.4.min.js"></script>
<script src="https://48598847.fs1.hubspotusercontent-na1.net/hubfs/48598847/InternetofWater-u4m/js/waypoints.min.js"></script>
<script src="https://48598847.fs1.hubspotusercontent-na1.net/hubfs/48598847/InternetofWater-u4m/js/jquery.counterup.min.js"></script>
<script>
	$('.counter').counterUp({
				delay: 10,
		time: 1000
	});
</script>
{% end_require_js %}  #}