<div class="content_wid_bg_outer parent{{name}}">
	
	{% set moduleName = 'u4m-content-with-background' %}

{% include "../partials/u4-module-includes.html" %}

<div class="page-center  {{ module.module_settings.theme }} {{ module.module_overrides.container_size }}">

	{{macros.introGroup(module.intro_content, module.module_settings)}}

</div>
	{% if module.intro_content.enable_float_credit_text %}
	<div class="floating_text">
		<div class="floatInner">
			{{ module.intro_content.float_credit_text }}
		</div>
	</div>
	{% endif %}
</section>
{% if module.intro_content.enable_credit_text %}
<div class="bottom_credit">
	<div class="cmCreditCnt">
		<div class="cmCreditCnt_text">{{ module.intro_content.credit_text }}</div>
	</div>
</div>
{% endif %}

</div>

{# button group popup modal#}
{% if module.intro_content.include_button %}
{{macros.buttonGroup(module.intro_content.button_group, true)}}
{% endif %}


{% require_css %}
<style>
	{% if module.module_settings.set_height %}
	.u4m-content-with-background.{{name}}{
		min-height :{{ module.module_settings.height }}px;
	}
{% endif %}
{% if module.module_settings.enable_fade_effect %}
	.u4m-content-with-background.{{name}} .bg_image{
		box-shadow: inset 0px 240px 120px -80px #ffffff;
	}
{% endif %}
</style>
	
{% end_require_css %}












