@import "../../css/_module-imports";

.u4m-content-with-background {
  .page-center {
    &.full_width {
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }

  .intro_content {
    max-width: 100%;
    margin-bottom: 0;

    .intro__inner {
      padding: 13px 0;

      .intro_desc {
        margin-bottom: 0;
        color: $black;
      }
    }
  }

  .intro_btn_wrap {
    margin-top: 30px;
  }

  .floating_text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transform-origin: center;
    margin-top: -100px;

    .floatInner {
      background: $white;
      border-top-right-radius: 10px;
      font-size: 9rem;
      font-weight: 700;
      height: 3em;
      line-height: 1em;
      opacity: 0.5;
      padding: 8px 15px;
      text-transform: uppercase;
      transform: rotateZ(270deg);
      z-index: 9;
      transform-origin: bottom right;
      color: $baseColor;
    }

    @include tabletMid {
      display: none;
    }
  }
}

.bottom_credit {
  padding-bottom: 13rem;

  &.position_inside_container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 0;
  }

  .cmCreditCnt {
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 13px 0;

    .cmCreditCnt_text {
      font-size: 14rem;
      line-height: 1.7em;
      color: $creditTextColor;
    }
  }
}
